@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    border-radius: 3px;

    background: url("bg-signup.jpg");
    background-size:cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {background-position: top; background-size:2000px; }
    to {background-position: -100px 0px;background-size:1750px;}
}

@keyframes slidein {
    from {background-position: top;background-size:2000px; }
    to {background-position: -100px 0px;background-size:1750px;}

}

h1 {
    color: white;
}
form {
    text-align: center;
}
input {
    display: block;
    width: 350px;
    height: 40px;
    margin: 15px;
    border: none;
    border-bottom: 1px solid #08192c;
    outline: none;
    background-color: transparent;
}
datalist {
    display: none;
}
button {
    margin-top: 20px;
    width: 350px;
    height: 48px;
    border: none;
    background-color: rgb(32, 47, 68);
    color: white;
}
::placeholder {
    color: silver;
}