.wd-organier {
    width: max-content;
    padding: 10px;
}

.wd-liked-user-list {
    max-width: 400px;
}

.wd-random-avatar {
    height: 2rem;
    width: 2rem;
}

.event-detail-hover:hover {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 20px;
}